.menu__list {
  display: flex;
}

.menu__item {
  list-style: none;
  cursor: pointer;
  font-size: 14px;
  margin-right: 30px;
}

.menu__item > a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--text-master);
}