.modal-delete {
  position: absolute;
  left: 1%;
  top: 15%;
  z-index: 10;
  padding: 10px;
  width: 225px;
  background-color: var(--bg-modal);
  box-shadow: var(--box-shadow-modal) inset;
}

.modal-title {
  font-size: 12px;
}

.modal-update,
.modal-create {
  position: fixed;
  margin-left: 20px;
  z-index: 15;
  bottom: 2%;
  left: 33%;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow-first) 0px 22px 70px 4px;
  background-color: var(--bg-modal);
}

.modal-dialog-modalUpdate {
  padding: 10px 10px;
}

.modal-heading {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-control > label {
  font-weight: bold;
  font-size: 14px;
}

.form-control > input,
.form__select,
.form__text {
  padding: 7px 10px;
  font-size: 13px;
  border: 1px solid var(--border-btn);
  border-radius: 3px;
}

.form-control > input:hover,
.form__select:hover {
  border-color: var(--text-primary);
}

.form__img--list {
  display: flex;
}

input#file {
  background: url(../../assets/images/plus-icon.jpg) center no-repeat;
  background-size: 60px 60px;
}

::-webkit-file-upload-button {
  display: none;
}

input[type='file'] {
  color: transparent;
}

.form__img {
  width: 100px;
  margin-right: 10px;
}

.form__input--img {
  width: 100px;
  height: 100px;
  border: 1px dashed var(--border-btn);
}

#form__number {
  display: flex;
  flex-direction: row;
}

.form__quantity,
.form__price {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.form__error {
  font-size: 11px;
  color: var(--bg-delete);
}

.star {
  color: var(--bg-delete);
}